
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0%;
  background-color: #f7e0da; /* beige */
  font-family: Arial, sans-serif;
}
h1{
  margin-left: 3rem;
  font-size: 6rem;
  font-family: 'SN Pro', sans-serif;
  color: #d96c78;

}
/* NAVBAR */
.navbar {
  background-color: #d96c78;
  margin-top: 2%;
  margin: 2%;
  padding: 2% 5%;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'SN Pro', sans-serif;
  font-weight: 700;
}
nav a{
    margin-left: 8vw;
    font-size:  1.3rem;
    text-decoration: none;
    color: inherit;
}
.hero {
  position: relative;
  margin-top: 40px; 
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Aboutus{
  padding-top: 15rem;
  display:inline;
  justify-content:left;
  position: relative;
  



}
.button-wrapper {
  position: relative;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTÓN QUE GIRA */
.rotating-button {
  width: 100%;
  animation: spin 20s linear infinite;
}

/* LOGO CENTRADO Y ESTÁTICO */
.logo {
  position: absolute;
  width: 120%; /* ajusta tamaño */
  pointer-events: none; /* evita problemas de hover */
}

/* Flores */
.flower {
  position: absolute;
  width: 20vw;
  display: block;
}
.texto-flor{
  position: absolute;      /* Lo coloca encima */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* Lo centra exacto */
  
  width: 60%;              /* Para que no se salga */
  text-align: center;
  font-size: 1.2rem;
}

/* Posiciones */
.flower1 { top: 20%; left: 1%; }
.flower2 { top: 10%; right: 1%; }
.flower3 { bottom: 5%; left: 10%; }
.flower4 { bottom: 10%; right: 5%; }




/*ANIMACIONES DE LAS IMAGENES*/
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-button {
  animation: spin 20s linear infinite;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.flower1 {
  animation: float 3s ease-in-out infinite;
}

.flower2 {
  animation: float 4s ease-in-out infinite;
}
.flower3{
  animation: float 4s ease-in-out infinite;
}
.flower4 {
  animation: float 2s ease-in-out infinite;
}
